@keyframes triangle {
  0% {
    left: -15px;
  }
  50% {
    left: -11px;
  }
  100% {
    left: -15px;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.like-icon :hover .core {
  transition: fill 0.1s ease-in-out;
  fill: var(--accent__color);
}

.like-icon :hover .main-body {
  transition: fill 0.3s ease-in-out 0.05s;
  fill: var(--accent__color);
}

.like-icon:active .core {
  transition: fill 0.1s ease-in-out;
  fill: var(--fill__color);
}

.like-icon:active .main-body {
  transition: fill 0.3s ease-in-out 0.05s;
  fill: var(--fill__color);
}
/*
.like-icon.is-liked {
  .contur {
    fill: var(--fill__color);
    transition: fill 0.3s ease-in-out 0.05s;
  }
}

.like-icon.is-liked {
  .core,
  .main-body {
    fill: var(--fill__color);
    transition: fill 0.1s ease-in-out 0.03s;
  }
}

.like-icon.is-liked {
  .sparks {
    animation: sparks 0.3s ease-in 0.1s forwards;
  }
}

.like-icon.is-liked {
  .heart {
    animation: scale 0.3s ease-in 0.3s forwards;
    transform-origin: center;
  }
}
*/
.like-icon.is-liked {
  .contur {
    fill: var(--fill__color);
    transition: fill 0.3s ease-in-out 0.05s;
  }
  .core,
  .main-body {
    fill: var(--fill__color);
    transition: fill 0.1s ease-in-out 0.03s;
  }
  .sparks {
    animation: sparks 0.3s ease-in 0.1s forwards;
  }
  .heart {
    animation: scale 0.3s ease-in 0.3s forwards;
    transform-origin: center;
  }
}

.like-icon:not(.is-liked) {
  .contur {
    fill: var(--accent__color);
    transition: fill 0.1s linear;
  }
}
