/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background__color: #ffffff;
  --button__text-color: #ffffff;
  --accent__color: #000000;
  --shadow__color: #ffffff;
  --fill__color: #ff0000;
  --background-image: repeating-linear-gradient(
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

@media (width <= 375px) {
  .header {
    min-block-size: 326px;
    grid-template-rows: 2.5fr 1.5fr;
  }
  .title {
    padding: 8px 10px 5px 10px;
  }
  .lable {
    right: 12px;
  }
}
