/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background__color: #ffffff;
  --button__text-color: #ffffff;
  --accent__color: #000000;
  --variable__font:"Inter-Variable";
  --accent__font:"PressStart2P";
  --shadow__color: #ffffff;
  --fill__color: #ff0000;
  --background-image: repeating-linear-gradient(
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #fff,
      #fff 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

.sepia {
  filter: sepia(60%);
}

.blur {
  filter: blur(5px);
}

.brightness {
  filter: brightness(0.3);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}
.opacity {
  filter: opacity(55%);
}

.saturate {
  filter: saturate(30%);
}

.over__filter {
  filter: contrast(200%) hue-rotate(90deg) saturate(30%) ;
}
